<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="./css/weui.min.css">
	<link rel="stylesheet" type="text/css" href="./css/chess.css">
</head>

<body  class="container1">
	<h1>Welcome to login</h1>
	<div >
		<form action="chess">
			<label>
				<input name="username" type="text" value="" placeholder="Please input your name">
				<input type="submit" value="submit" name="submit">
			</label>
		</form>
	</div>
</body>
</html>